@model IList<Article>

@{
    ViewData["Title"] = "Articles";
}

<a asp-action="Create" class="btn btn-primary">Create new article</a>
<h1>Articles table</h1>
<table id="edit" class="table table-info table-striped">
    <thead>
    <tr>
        <th>Date</th>
        <th>Author</th>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var article in Model)
    {
        <partial name="ArticleRowPartial" model="article"/>
    }
    </tbody>
</table>

<script>
    window.onload = function () {
        var table = document.getElementById("edit");
        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].onclick = function () {
                window.location.href = this.getAttribute("data-edit-url");
            };
        }
    };
</script>