
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>10 Tips for Better Time Management</td>
            <td>John Doe</td>
            <td>2023-05-15</td>
        </tr>
        <tr>
            <td>The Benefits of Regular Exercise</td>
            <td>Jane Smith</td>
            <td>2023-07-20</td>
        </tr>
        <tr>
            <td>How to Cook Delicious Pasta</td>
            <td>Michael Johnson</td>
            <td>2023-09-10</td>
        </tr>
        <tr>
            <td>The Importance of Sleep for Health</td>
            <td>Emily Davis</td>
            <td>2023-10-18</td>
        </tr>
        <tr>
            <td>Exploring the Wonders of the Universe</td>
            <td>David Brown</td>
            <td>2023-12-03</td>
        </tr>
        </tbody>
    </table>
</div>

